# Python guide

# Operations
+ normal operators with usual meaning :
  +, -, /  for add, subtract, divide 
+ other operators
  * $\ast \implies$ multiplication
  * $\ast\ast \implies$ exponential
  * % $\implies$ modulo i.e. gives remainder
  * // $\implies$ integer division i.e gives quotient

In [7]:
65//9

7

# strings

In [8]:
'This is a string'

'This is a string'

In [9]:
"this is also a string"

'this is also a string'

In [10]:
'this' +' '+ 'string'

'this string'

In [11]:
'this'+' '*5+'string'

'this     string'

Special characters : ' " / \ % etc cannot be used directly in strings

In [12]:
'these string\'s ' # use \ to start writing a special character

"these string's "

**Formating** in strings  
format is use to input arguments to strings

In [50]:
'hi I am {0} , who are {1}'.format('Python','you')

'hi I am Python , who are you'

In [51]:
x,y=(3.141592,2.718281)

In [52]:
'The value of {var} is {val}'.format(var='pi',val=x)

'The value of pi is 3.141592'

In [53]:
s='The value of {var} is {val:0.4f}'.format(var='e',val=y) #:0.4f specifies 4 decimals after. f for float
s

'The value of e is 2.7183'

In [54]:
s[1],s[0:4],len(s) #acts similar to lists but is immutable i.e. assigned values cannot be changed

('h', 'The ', 24)

In [55]:
s1=s.split(' ') #splits by assined spacing and gives out a list
s1

['The', 'value', 'of', 'e', 'is', '2.7183']

In [56]:
s2=s.split('e')
s2

['Th', ' valu', ' of ', ' is 2.7183']

# Print statements

In [57]:
print(y)

2.718281

In [58]:
print('y =',y) # ' can aslo be replaced by "

y = 2.718281

In [59]:
print('y =',y,"= y")

y = 2.718281 = y

In [60]:
print('y','=',y)

y = 2.718281

In [61]:
print('y','=',y,sep='..') # sep parameter assigns seperation b/w strings

y..=..2.718281

In [62]:
print('hi \npython') #\n for newline

hi
python

In [63]:
print('hi','python','hi',sep='\n') #\n for newline

hi
python
hi

In [64]:
print('hi','python',end=' hi') #end for last statements

hi python hi

In [65]:
print('hi','python\t',end='hi') #\t for tab i.e. long space

hi python	hi

In [66]:
print('hi','\'python\'"',end=' hi')

hi 'python'" hi

In [67]:
print('value of y = {:0.4f}'.format(y))

value of y = 2.7183

In [68]:
print(f'y ={y}')

y =2.718281

In [73]:
t='This is a string'
print(f"{t} only not {y}")

This is a string only not 2.718281

#  Data structures

## lists

In [1]:
empty_list=[]

In [2]:
lis=[0,1,2,3]

In [3]:
lis=range(4) # range(i,j,k) creates list of integers from i to j-1 with k spacing

In [4]:
li=range(1,5)
print(lis,li,sep='\n')

range(0, 4)
range(1, 5)

In [5]:
l=['hi','python',2,3.4,5+6j,True]

In [6]:
for i in l:
    print(i)

hi
python
2
3.4
(5+6j)
True

In [7]:
print(l[0]) #list index starts from 0

hi

In [8]:
p=list(l[1]) #list() for string saperation to list
p

['p', 'y', 't', 'h', 'o', 'n']

In [9]:
m=[[1,2],[2,3]] #nested lists can be used to represent a matrix
m[0][1]

2

In [10]:
l[5]=False #assignment changes the list i.e. LIST IS MUTABLE
l

['hi', 'python', 2, 3.4, (5+6j), False]

In [11]:
l1=l[2:4] #select multiple items by : argumnet
l1

[2, 3.4]

In [12]:
l2=l+l1
l2

['hi', 'python', 2, 3.4, (5+6j), False, 2, 3.4]

In [13]:
l2=2*l1+l
l2

[2, 3.4, 2, 3.4, 'hi', 'python', 2, 3.4, (5+6j), False]

In [14]:
p=p[:4]
p

['p', 'y', 't', 'h']

In [15]:
't' in p , 'o' in p

(True, False)

In [16]:
len(l2) #len() gives number of items in list

10

In [18]:
p.append('o')
p

['p', 'y', 't', 'h', 'o', 'o']

In [48]:
p.extend(['n','hi'])
p

['p', 'y', 't', 'h', 'o', 'n', 'hi']

In [49]:
p.insert(0,p[-1])
p.pop(-1)
p

['hi', 'p', 'y', 't', 'h', 'o', 'n']

In [19]:
l=list(range(1,10))
l

[1, 2, 3, 4, 5, 6, 7, 8, 9]

## tupels
similar to list but immutable

In [50]:
t=tuple(l)
t

('hi', 'python', 2, 3.4, (5+6j), False)

## sets
they should have unique items and is unodered

In [52]:
st={1,'e',2+3j,4.5}
print(st)

{1, (2+3j), 4.5, 'e'}

In [53]:
st1=st.copy() # if copy is not used st1 and st will have same values
st1.add('hi')

In [54]:
st1.discard('e')
print(st1)

{1, 4.5, (2+3j), 'hi'}

In [55]:
st|st1 # | for union

{(2+3j), 1, 4.5, 'e', 'hi'}

In [56]:
st&st1 #& for intersection

{(2+3j), 1, 4.5}

similarly: - for difference, ^ for symetric difference i.e (a-b U b-a)

#  if and loops

## if esle elif statements:

>`if (condition):  (dont forget ':' at end)`
>> things to do  

>`elif (condition):`
>>things to do  

>`else:`
>>things to do

In [9]:
#eg
x=float(input('x ='))
if x>0:
    print('x is positive')
elif x==0:
    print('x = 0')
else:
    print('x is negative')

x =4
x is positive

## for loop:  
>`for (conditions) :  (dont forget ':' at end)`
>>things to do  
>>`update in variables`

In [58]:
x=[1,2,3,4,5,6] #this is a list
for i in x:
    print(i)

1
2
3
4
5
6

In [59]:
for x in range(7):  #range(i,j)=[i,i+1,....,j-1] , range(i)=[0,1,2....,i-1]
    print(x)

0
1
2
3
4
5
6

## while loop

>`while (condition):` 
>> things to do while condition is true<br>
>>`change in variable`

In [62]:
x=4
while x>0:
    print(x)
    x=x-1

4
3
2
1

In [65]:
# use break to break the loop arbitrarily if condition holds
x=3
while (x!=-10):
    print (x)
    if x<0:
        break
    x=x-1

3
2
1
0
-1

# input statements

In [60]:
x= input('give value for x ') # here input ('statement') displays statement and take the entered value as x
print(x) # by defualt it is stored as string

give value for x dsd
dsd

In [61]:
# to convert to other type use int() for integers float() for real numbers
x=int(input('x='))

x=4

# List comprehensions
 `L=[items loopto iterate conditions]`

In [20]:
l=list(range(1,100))

In [21]:
l1=[n for n in l if n%4==1] 
print(l1)

[1, 5, 9, 13, 17, 21, 25, 29, 33, 37, 41, 45, 49, 53, 57, 61, 65, 69, 73, 77, 81, 85, 89, 93, 97]

In [11]:
ll1=[]
for n in range(5):
    ll1.append([])
    for n1 in range(5):
        if n==n1:
            ll1[n].append(1)
        else:
            ll1[n].append(0)
ll1

[[1, 0, 0, 0, 0],
 [0, 1, 0, 0, 0],
 [0, 0, 1, 0, 0],
 [0, 0, 0, 1, 0],
 [0, 0, 0, 0, 1]]

In [12]:
#same can be easily done with list comprehensions
ll2=[[1 if n1==n else 0 for n1 in range(5)] for n in range(5)]
ll2

[[1, 0, 0, 0, 0],
 [0, 1, 0, 0, 0],
 [0, 0, 1, 0, 0],
 [0, 0, 0, 1, 0],
 [0, 0, 0, 0, 1]]

# Functions
`def function_name(var1,var2=default value,val3*):`
>things to do  
>`return values`

In [25]:
def iden(i):
    I=[[1 if m==n else 0 for m in range(i)]for n in range(i)]
    return I
iden(7)

[[1, 0, 0, 0, 0, 0, 0],
 [0, 1, 0, 0, 0, 0, 0],
 [0, 0, 1, 0, 0, 0, 0],
 [0, 0, 0, 1, 0, 0, 0],
 [0, 0, 0, 0, 1, 0, 0],
 [0, 0, 0, 0, 0, 1, 0],
 [0, 0, 0, 0, 0, 0, 1]]

## lambda function
a name less function written in a single line  
`name= lambda var1,var2 : operations (values from here are returned)`

In [95]:
t=lambda x : [x[i]**3 for i in range(len(x))]
t([1,2,3,13,3.3])

[1, 8, 27, 2197, 35.937]

In [3]:
companion_mat= lambda i : [[1 if (m+1)==n else 0 for m in range(i-1)]+['-c'+str(n)] for n in range(i)] 
# here lambda function is coupled with list comprehension which shows its power in a single line!!
companion_mat(10)

[[0, 0, 0, 0, 0, 0, 0, 0, 0, '-c0'],
 [1, 0, 0, 0, 0, 0, 0, 0, 0, '-c1'],
 [0, 1, 0, 0, 0, 0, 0, 0, 0, '-c2'],
 [0, 0, 1, 0, 0, 0, 0, 0, 0, '-c3'],
 [0, 0, 0, 1, 0, 0, 0, 0, 0, '-c4'],
 [0, 0, 0, 0, 1, 0, 0, 0, 0, '-c5'],
 [0, 0, 0, 0, 0, 1, 0, 0, 0, '-c6'],
 [0, 0, 0, 0, 0, 0, 1, 0, 0, '-c7'],
 [0, 0, 0, 0, 0, 0, 0, 1, 0, '-c8'],
 [0, 0, 0, 0, 0, 0, 0, 0, 1, '-c9']]

# Higher order functions
these  are functions that take functions  
following are some important inbuilt ones

# filter()
`filter(function,values)`  
gives all true or specified by functions evaluated on values  
can be coupled with lambda functions to simplify codes  
**use list()** or other to convert the output to desired format

In [18]:
age=[1,2,34,56,75,98,65,44,23,21,27,9,10,5,18]
adults=list(filter(lambda x: x >= 18,age)) #dont use if for arguments in lambda function
adults

[34, 56, 75, 98, 65, 44, 23, 21, 27, 18]

In [30]:
N=list(range(1000))
M_1_29=list(filter(lambda x:x%29==5,N))
print(M_1_29)

[5, 34, 63, 92, 121, 150, 179, 208, 237, 266, 295, 324, 353, 382, 411, 440, 469, 498, 527, 556, 585, 614, 643, 672, 701, 730, 759, 788, 817, 846, 875, 904, 933, 962, 991]

## map
`map(functions,values)`  
evaluates function on values

In [123]:
num=list(range(14))
num_3_2=list(map(lambda x : x**(3/2) ,num))
print(num_3_2)

[0.0, 1.0, 2.8284271247461903, 5.196152422706632, 8.0, 11.180339887498949, 14.696938456699069, 18.520259177452136, 22.627416997969522, 27.0, 31.622776601683793, 36.4828726939094, 41.569219381653056, 46.87216658103186]

In [125]:
r=[5,6,7]
cm=list(map(companion_mat,r))
cm

[[[0, 0, 0, 0, '-c0'],
  [1, 0, 0, 0, '-c1'],
  [0, 1, 0, 0, '-c2'],
  [0, 0, 1, 0, '-c3'],
  [0, 0, 0, 1, '-c4']],
 [[0, 0, 0, 0, 0, '-c0'],
  [1, 0, 0, 0, 0, '-c1'],
  [0, 1, 0, 0, 0, '-c2'],
  [0, 0, 1, 0, 0, '-c3'],
  [0, 0, 0, 1, 0, '-c4'],
  [0, 0, 0, 0, 1, '-c5']],
 [[0, 0, 0, 0, 0, 0, '-c0'],
  [1, 0, 0, 0, 0, 0, '-c1'],
  [0, 1, 0, 0, 0, 0, '-c2'],
  [0, 0, 1, 0, 0, 0, '-c3'],
  [0, 0, 0, 1, 0, 0, '-c4'],
  [0, 0, 0, 0, 1, 0, '-c5'],
  [0, 0, 0, 0, 0, 1, '-c6']]]

In [127]:
# program to filter even functions
import numpy as np
import random
def even_func(f):
    x=100*np.random.random_sample(size=10)
    #ptive=set(f(x))
    #ntive=set(f(-x))
    ptive=set(map(f,x))
    ntive=set(map(f,-x))
    if ptive==ntive:
        return True
    else:
        return False
# notice that even_func() is a higher order function 
def e(x):
    return x
def e_2(x):
    return x*x
ftns=[np.sin,np.cos,e,e_2,np.tanh,np.cosh,np.sinh,np.exp,abs,type] 
even_fnts=list(filter(even_func,ftns))
print(even_fnts)

[<ufunc 'cos'>, <function e_2 at 0x7f5ceae6a340>, <ufunc 'cosh'>, <built-in function abs>, <class 'type'>]