# Python guide

# Operations
+ normal operators with usual meaning :
  +, -, /  for add, subtract, divide 
+ other operators
  * $\ast \implies$ multiplication
  * $\ast\ast \implies$ exponential
  * % $\implies$ modulo i.e. gives remainder
  * // $\implies$ integer division i.e gives quotient

In [7]:
65//9

7

# strings

In [8]:
'This is a string'

'This is a string'

In [9]:
"this is also a string"

'this is also a string'

In [10]:
'this' +' '+ 'string'

'this string'

In [11]:
'this'+' '*5+'string'

'this     string'

Special characters : ' " / \ % etc cannot be used directly in strings

In [12]:
'these string\'s ' # use \ to start writing a special character

"these string's "

**Formating** in strings  
format is use to input arguments to strings

In [13]:
'hi I am {0} , who are {1}'.format('Python','you')

'hi I am Python , who are you'

In [14]:
x,y=(3.141592,2.718281)

In [15]:
'The value of {var} is {val}'.format(var='pi',val=x)

'The value of pi is 3.141592'

In [16]:
s='The value of {var} is {val:0.4f}'.format(var='e',val=y) #:0.4f specifies 4 decimals after. f for float
s

'The value of e is 2.7183'

In [17]:
s[1],s[0:4],len(s) #acts similar to lists but is immutable i.e. assigned values cannot be changed

('h', 'The ', 24)

In [18]:
s1=s.split(' ') #splits by assined spacing and gives out a list
s1

['The', 'value', 'of', 'e', 'is', '2.7183']

In [19]:
s2=s.split('e')
s2

['Th', ' valu', ' of ', ' is 2.7183']

# Print statements

In [20]:
print(y)

2.718281

In [21]:
print('y =',y) # ' can aslo be replaced by "

y = 2.718281

In [22]:
print('y =',y,"= y")

y = 2.718281 = y

In [23]:
print('y','=',y)

y = 2.718281

In [24]:
print('y','=',y,sep='..') # sep parameter assigns seperation b/w strings

y..=..2.718281

In [25]:
print('hi \npython') #\n for newline

hi
python

In [26]:
print('hi','python','hi',sep='\n') #\n for newline

hi
python
hi

In [27]:
print('hi','python',end=' hi') #end for last statements

hi python hi

In [28]:
print('hi','python\t',end='hi') #\t for tab i.e. long space

hi python	hi

In [29]:
print('hi','\'python\'"',end=' hi')

hi 'python'" hi

In [30]:
print('value of y = {:0.4f}'.format(y))

value of y = 2.7183

#  Data structures

## lists

In [31]:
empty_list=[]

In [32]:
lis=[0,1,2,3]

In [33]:
lis=range(4) # range(i,j,k) creates list of integers from i to j-1 with k spacing

In [34]:
li=range(1,5)
print(lis,li,sep='\n')

range(0, 4)
range(1, 5)

In [35]:
l=['hi','python',2,3.4,5+6j,True]

In [36]:
for i in l:
    print(i)

hi
python
2
3.4
(5+6j)
True

In [37]:
print(l[0]) #list index starts from 0

hi

In [38]:
p=list(l[1]) #list() for string saperation to list
p

['p', 'y', 't', 'h', 'o', 'n']

In [39]:
m=[[1,2],[2,3]] #nested lists can be used to represent a matrix
m[0][1]

2

In [40]:
l[5]=False #assignment changes the list i.e. LIST IS MUTABLE
l

['hi', 'python', 2, 3.4, (5+6j), False]

In [41]:
l1=l[2:4] #select multiple items by : argumnet
l1

[2, 3.4]

In [42]:
l2=l+l1
l2

['hi', 'python', 2, 3.4, (5+6j), False, 2, 3.4]

In [43]:
l2=2*l1+l
l2

[2, 3.4, 2, 3.4, 'hi', 'python', 2, 3.4, (5+6j), False]

In [44]:
p=p[:4]
p

['p', 'y', 't', 'h']

In [45]:
't' in p , 'o' in p

(True, False)

In [46]:
len(l2) #len() gives number of items in list

10

In [47]:
p.append('o')
p

['p', 'y', 't', 'h', 'o']

In [48]:
p.extend(['n','hi'])
p

['p', 'y', 't', 'h', 'o', 'n', 'hi']

In [49]:
p.insert(0,p[-1])
p.pop(-1)
p

['hi', 'p', 'y', 't', 'h', 'o', 'n']

## tupels
similar to list but immutable

In [50]:
t=tuple(l)
t

('hi', 'python', 2, 3.4, (5+6j), False)

## sets
they should have unique items and is unodered

In [52]:
st={1,'e',2+3j,4.5}
print(st)

{1, (2+3j), 4.5, 'e'}

In [53]:
st1=st.copy() # if copy is not used st1 and st will have same values
st1.add('hi')

In [54]:
st1.discard('e')
print(st1)

{1, 4.5, (2+3j), 'hi'}

In [55]:
st|st1 # | for union

{(2+3j), 1, 4.5, 'e', 'hi'}

In [56]:
st&st1 #& for intersection

{(2+3j), 1, 4.5}

similarly: - for difference, ^ for symetric difference i.e (a-b U b-a)

#  if and loops

## if esle elif statements:

>if (condition):  (dont forget ':' at end)
>> things to do  

>elif (condition):
>>things to do  

>else:
>>things to do

In [57]:
#eg
x=float(input('x ='))
if x>0:
    print('x is positive')
elif x==0:
    print('x = 0')
else:
    print('x is negative')

x =

ValueError: could not convert string to float: ''

## for loop:  
>for (conditions) :  (dont forget ':' at end)
>>things to do  
>>update in variables

In [58]:
x=[1,2,3,4,5,6] #this is a list
for i in x:
    print(i)

1
2
3
4
5
6

In [59]:
for x in range(7):  #range(i,j)=[i,i+1,....,j-1] , range(i)=[0,1,2....,i-1]
    print(x)

0
1
2
3
4
5
6

## while loop

>while (condition): 
>> things to do while condition is true<br>
>>change in variable

In [62]:
x=4
while x>0:
    print(x)
    x=x-1

4
3
2
1

In [65]:
# use break to break the loop arbitrarily if condition holds
x=3
while (x!=-10):
    print (x)
    if x<0:
        break
    x=x-1

3
2
1
0
-1

# input statements

In [60]:
x= input('give value for x ') # here input ('statement') displays statement and take the entered value as x
print(x) # by defualt it is stored as string

give value for x dsd
dsd

In [61]:
# to convert to other type use int() for integers float() for real numbers
x=int(input('x='))

x=4